.bar {
  padding: 15px 0;
  background: $buttons-active;

  &__text {
    color: $sections-background;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    width: 100%;
    @media screen and (min-width: 734px){
  font-size: 16px;
}
  }
  &__br{
    @media screen and (min-width: 734px){
  display: none;
}
  }
  &__link {
    color: var(--text-white, #fff);
      text-decoration: underline;
  }
}
