.contact {
  &__logo {
    width: 150px;
    height: 43px;
  }

  &__box {
    border-radius: 20px 20px 0 0;
    background: $sections-background;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
      @media screen and (min-width: 734px){
   gap: 50px;
  }
      @media screen and (min-width: 1396px){

   padding: 50px 40px;
  }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 734px) {
      gap: 20px;
      justify-content: start;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__item .contact__link {
    font-size: 14px;
      @media screen and (min-width: 734px){
   font-size: 16px;
  }
  }

  &__wrap {
    gap: 30px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 734px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__wraper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (min-width: 734px) {
      justify-content: space-between;
      align-items: end;
      flex-direction: row;
    }
  }

  &__text {
    color: $text-main;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }

  &__menu {
    display: flex;
    gap: 21px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    color: $text-secondary;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-duration: 300ms;
transition-property: color;
&:hover{
  color: $secondary-accent;
} 
  }

  &__title {
    color: $text-main;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  &__social {
    display: flex;
    gap: 10px;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }
}

.copyright {
  padding-bottom: 20px;
  &__box {
    border-radius: 0 0 20px 20px;
    background: $buttons-active;
    padding: 15px 30px;
    display: flex;
  }

  &__text {
    color: $sections-background;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    display: none;
    @media screen and (min-width: 734px) {
      display: block;
      margin-right: 6px;
    }
  }

  &__link {
    color: $sections-background;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: underline;
    display: none;
    @media screen and (min-width: 734px) {
      display: block;
    }
  }

  &__caption {
    color: $sections-background;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 734px) {
      display: block;
      margin-left: auto;
    }
  }
}
