.networks {
  &__wrapper {
    position: relative;
  }

  &__box {
  position: relative;
  // overflow-x: auto;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { display: none; }
  }

  &__left{
    width: 80px;
    height: 80px;
  background: linear-gradient(90deg, #F4F4F4 50.4%, rgba(244, 244, 244, 0.5) 100%);
    position: absolute;
left: 0;
    top: 35px;
      @media screen and (min-width: 734px){
   width: 90px;
  }
  }
  &__right{
    width: 80px;
    height: 80px;
  background: linear-gradient(270deg, #F4F4F4 50.4%, rgba(244, 244, 244, 0.5) 100%);
  position: absolute;
  right: 0;
    top: 35px; 
      @media screen and (min-width: 734px){
   width: 90px;
  }   
  }

  &__items {
    display: flex;
    gap: 45px;
    white-space: nowrap;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 9px;
    flex: 0 0 auto;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-duration: 500ms;
transition-property: color;
    &:hover {
      .networks__text {
        color: $secondary-accent;
      }
      .networks__svg {
        fill: $secondary-accent;
      }
    }
  }

  &__svg {
    width: 42px;
    fill: $text-main;
        transition: fill 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__text {
    color: $text-main;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
        transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  }
}
