.renovate {
  padding: 31px 0 20px 0;

  &__box {
    position: relative;
  }

  &__title {
    color: $text-main;
    text-align: center;
    font-size: clamp(1rem, 0.554rem + 2.23vw, 2.5rem);
    font-weight: 700;
    line-height: 1.2;
    @media screen and (min-width: 1396px) {
      display: block;
    }
  }

  &__subtext {
    color: $text-secondary;
    text-align: center;
    font-size: clamp(0.875rem, 0.801rem + 0.37vw, 1.125rem);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  &__element {
    &:nth-child(n + 3) {
      .renovate__arrow {
        display: none;
        @media screen and (min-width: 734px) {
          display: block;
        }
      }
    }
    &:nth-child(-n + 2) {
      .renovate__arrow {
        @media screen and (min-width: 734px) {
          display: none;
        }
      }
    }

    &:nth-child(1) {
      .renovate__arrow {
        top: 15px;
        left: 0;
        width: 34px;
      }
    }
    &:nth-child(2) {
      .renovate__arrow {
        top: 15px;
        right: 0;
        width: 38px;
      }
    }
    &:nth-child(3) {
      .renovate__arrow {
        left: 30px;
        top: 0;
        @media screen and (min-width: 1396px) {
          left: 250px;
        }
      }
    }
    &:nth-child(4) {
      .renovate__arrow {
        right: 30px;
        top: 0;
        @media screen and (min-width: 1396px) {
          right: 250px;
        }
      }
    }
  }

  &__arrow {
    position: absolute;
  }

  &__color {
    border-radius: 20px;
    background-color: $text-main;
  }

  &__btn {
    color: $sections-background;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 5px 10px;
    border-radius: 5px;
    background: $buttons-pointing;
    border: none;
    margin-top: clamp(1.25rem, 0.692rem + 2.79vw, 3.125rem);
  }

  &__text {
    color: $sections-background;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 27px;
    @media screen and (min-width: 734px) {
      width: 610px;
      font-size: 18px;
    }
    @media screen and (min-width: 1396px) {
      font-size: 24px;
      width: 806px;
    }
  }

 &__picture {
  img {
    width: 98%; 
    padding: 5px;
    object-fit: cover; 
    display: block;
      border-radius: 10px;
    background: $sections-background;
  }
}

&__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-right: 5px;

  @media screen and (min-width: 390px) {
    gap: 10px;
    justify-content: start;
  }

  @media screen and (min-width: 734px) {
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1396px) {
    padding-bottom: 50px;
    gap: 21px;
  }

  .renovate__item {
    flex: 1 1 calc(50% - 5px); 
    @media screen and (min-width: 734px) {
      flex: 1 1 calc(33.333% - 10px); 
    }
    @media screen and (min-width: 1396px) {
      flex: 1 1 calc(25% - 21px);
    }

    &--desktop-only {
      display: none;
      @media screen and (min-width: 1396px) {
        display: block;
      }
    }
  }

  .renovate__item:nth-child(n + 7) {
    display: none;
    @media screen and (min-width: 1396px) {
      display: block;
    }
  }
}
}
