.services {
  padding-top: clamp(3.125rem, 2.753rem + 1.86vw, 4.375rem);

  &__box {
    position: relative;
  }

  &__title {
    color: $text-main;
    text-align: center;
    font-size: clamp(1rem, 0.554rem + 2.23vw, 2.5rem);
    font-weight: 700;
    line-height: 1.2;
  }

  &__text {
    color: $text-secondary;
    display: block;
    text-align: center;
    font-size: clamp(0.625rem, 0.476rem + 0.74vw, 1.125rem);
    font-weight: 500;
    line-height: 1.2;
    margin-top: 5px;
  }

  &__left {
    position: absolute;
    top: clamp(0.813rem, 0.589rem + 1.12vw, 1.563rem);
    left: clamp(0.313rem, -3.684rem + 19.98vw, 13.75rem);
    width: clamp(1.875rem, 1.132rem + 3.72vw, 4.375rem);
  }

  &__right {
    position: absolute;
    top: clamp(0.813rem, 0.589rem + 1.12vw, 1.563rem);
    right: clamp(0.313rem, -3.684rem + 19.98vw, 13.75rem);
    width: clamp(1.875rem, 1.132rem + 3.72vw, 4.375rem);
  }

  &__wrap {
    border-radius: 20px;
    background: $secondary-accent;
    margin-top: clamp(1.875rem, 1.503rem + 1.86vw, 3.125rem);
    padding: clamp(1.25rem, 0.878rem + 1.86vw, 2.5rem);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 0.692rem + 2.79vw, 3.125rem);
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 1.064rem + 0.93vw, 1.875rem);
  }

  &__item {
    @media screen and (min-width: 734px) {
      &:nth-child(odd) {
        .services__flex {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }
      &:nth-child(even) {
        .services__flex {
          flex-direction: row;
        }
      }
      &:nth-child(2) {
        .services__des {
          transform: rotate(0deg);
          right: 170px;
        }
      }
      &:nth-child(1) {
        .services__des {
          transform: rotate(180deg);
          transform: scaleX(-1);
          left: 400px;
        }
      }
    }
  }

  &__image {
    // margin-left: auto;
    // margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background: $sections-background;
    @media screen and (min-width: 734px) {
      width: clamp(18.125rem, -6.684rem + 54.08vw, 40.5rem);
    }
  }

  &__heading {
    color: $sections-background;
    font-size: clamp(1.5rem, 1.203rem + 1.49vw, 2.5rem);
    font-weight: 700;
    line-height: 1.2;
    margin-top: 11px;
    @media screen and (min-width: 734px) {
      width: clamp(20rem, 4.685rem + 33.38vw, 33.813rem);
    }
  }

  &__desc {
    color: $sections-background;
    font-size: clamp(0.875rem, 0.778rem + 0.48vw, 1rem);
    font-weight: 400;
    line-height: 1.2;
    margin-top: 10px;
    width: 100%;
    @media screen and (min-width: 734px) {
      width: clamp(20.75rem, 7.93rem + 27.95vw, 32.313rem);
    }
  }

  &__secondary {
    color: $sections-background;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(1.5rem, 1.203rem + 1.49vw, 2.5rem);
    font-weight: 700;
    line-height: 1.2;
    margin-top: 50px;
    text-align: center;
    width: clamp(16.875rem, 12.265rem + 23.05vw, 32.375rem);
  }

  &__description {
    color: $sections-background;
    font-size: clamp(0.875rem, 0.682rem + 0.97vw, 1.125rem);
    font-weight: 400;
    line-height: 1.2;
    margin-top: 10px;
    text-align: center;
  }

  &__button {
    color: $sections-background;
    display: flex;
    align-items: center;
    font-size: clamp(0.75rem, 0.676rem + 0.37vw, 1rem);
    font-weight: 500;
    line-height: 1.2;
    border-radius: 10px;
    background: $buttons-active;
    padding: 15px 30px;
    border: none;
    margin-top: 30px;
    height: 20px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 700ms;
    transition-property: background-color;
    height: 40px;
    &:hover {
      background-color: rgba(239, 138, 6, 0.908);
    }
  }

  &__wraper {
    display: flex;
  }

  &__one {
      margin-left: clamp(3.75rem, 0.893rem + 14.29vw, 4.375rem);
    @media screen and (min-width: 734px) {
      margin-left: auto;
      transform: rotate(340deg);
    }
    @media screen and (min-width: 1396px) {
      display: none;
    }
  }

  &__des {
    display: none;
    @media screen and (min-width: 1396px) {
      display: block;
      width: 159px;
      position: absolute;
    }
  }

  &__tuo {
    margin-left: auto;
    @media screen and (min-width: 1396px) {
      display: none;
    }
  }

&__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(10px, 2vw, 20px);
  margin-top: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

&__video {
  width: 100%;
  aspect-ratio: 9 / 16;
  border-radius: 10px;
  object-fit: cover;
}
}
