.services {
  padding-top: 50px;

  &__box {
    position: relative;
  }

  &__title {
    color: $text-main;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    @media screen and (min-width: 350px) {
      font-size: 18px;
    }
    @media screen and (min-width: 390px) {
      font-size: 20px;
    }
    @media screen and (min-width: 734px) {
      font-size: 30px;
    }
    @media screen and (min-width: 1396px) {
      display: block;
      font-size: 40px;
    }
  }

  &__text {
    color: $text-secondary;
    display: block;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 5px;
    @media screen and (min-width: 350px) {
      font-size: 12px;
    }
    @media screen and (min-width: 390px) {
      font-size: 14px;
    }
    @media screen and (min-width: 734px) {
      font-size: 18px;
    }
  }

  &__left {
    position: absolute;
    top: 13px;
    left: 0px;
    width: 30px;
    @media screen and (min-width: 390px) {
      width: 37px;
    }
    @media screen and (min-width: 734px) {
      display: none;
      width: 50px;
      left: 70px;
    }
    @media screen and (min-width: 1396px) {
      width: 70px;
      left: 220px;
      top: 25px;
    }
  }

  &__right {
    position: absolute;
    top: 16px;
    right: 0;
    width: 33px;
    @media screen and (min-width: 390px) {
      width: 37px;
    }
    @media screen and (min-width: 734px) {
      display: none;
      width: 50px;
      right: 70px;
    }
    @media screen and (min-width: 1396px) {
      width: 70px;
      right: 220px;
      top: 25px;
    }
  }

  &__dont {
    display: none;
    @media screen and (min-width: 734px) {
      display: block;
    }
  }

  &__wrap {
    border-radius: 20px;
    background: $secondary-accent;
    margin-top: 30px;
    padding: 20px;
    @media screen and (min-width: 1396px) {
      margin-top: 50px;
      padding: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 734px) {
      gap: 50px;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 1396px) {
      gap: 87px;
    }
  }

  &__item {
    @media screen and (min-width: 734px) {
      &:nth-child(odd) {
        .services__flex {
          flex-direction: row-reverse;
        }
      }
      &:nth-child(even) {
        .services__flex {
          flex-direction: row;
        }
      }
   &:nth-child(2) {
      .services__des {
        transform: rotate(0deg);
        right: 170px;
      }
    }
   &:nth-child(1) {
      .services__des {
      transform: rotate(180deg);
        transform: scaleX(-1);
        left: 400px;
      }
    }
    }
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 240px;
    background: $sections-background;
    @media screen and (min-width: 350px) {
      width: 265px;
    }
    @media screen and (min-width: 390px) {
      width: 320px;
    }
    @media screen and (min-width: 734px) {
      width: 310px;
    }
    @media screen and (min-width: 1396px) {
      width: 648px;
    }
  }

  &__heading {
    color: $sections-background;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 11px;
    @media screen and (min-width: 734px) {
      width: 332px;
      font-size: 30px;
      margin-top: 0;
    }
    @media screen and (min-width: 1396px) {
      font-size: 40px;
      width: 541px;
    }
  }

  &__desc {
    color: $sections-background;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 10px;
    @media screen and (min-width: 734px) {
      width: 332px;
      font-size: 16px;
    }
    @media screen and (min-width: 1396px) {
      width: 517px;
    }
  }

  &__secondary {
    color: $sections-background;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 50px;
    text-align: center;
    @media screen and (min-width: 734px) {
      width: 390px;
      font-size: 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 1396px) {
      font-size: 40px;
      width: 518px;
    }
  }

  &__description {
    color: $sections-background;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 10px;
    text-align: center;
    @media screen and (min-width: 734px) {
      font-size: 18px;
    }
  }

  &__button {
    color: $sections-background;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 10px;
    background: $buttons-active;
    padding: 15px 30px;
    border: none;
    margin-top: 30px;
    @media screen and (min-width: 350px) {
      font-size: 14px;
    }
    @media screen and (min-width: 390px) {
      font-size: 16px;
    }
  }

  &__wraper {
    display: flex;
  }

  &__one {
    margin-left: auto;
    @media screen and (min-width: 350px) {
      margin-left: 50px;
    }
    @media screen and (min-width: 390px) {
      margin-left: 70px;
    }
    @media screen and (min-width: 734px) {
      margin-left: auto;
      transform: rotate(340deg);
    }
    @media screen and (min-width: 1396px) {
      display: none;
    }
  }

  &__des {
    display: none;
        @media screen and (min-width: 1396px) {
      display: block;
      width: 159px;
      position: absolute;

}
  }

  &__tuo {
    margin-left: auto;
        @media screen and (min-width: 1396px) {
      display: none;
    }
  }

  &__none {
    display: block;
    @media screen and (min-width: 734px) {
      display: none;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
      @media screen and (min-width: 734px){
   gap: 20px;
   justify-content: start;
  }
    @media screen and (min-width: 1396px) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__img {
    width: 110px;
    padding: 5px;
    border-radius: 10px;
    background: var(--Sections-background, #fff);
    @media screen and (min-width: 350px) {
      width: 130px;
    }
    @media screen and (min-width: 390px) {
      width: 155px;
    }
    @media screen and (min-width: 734px) {
      width: 317px;
    }
    @media screen and (min-width: 1396px) {
      width: 300px;
    }
  }
}
