.conteiner {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 420px) {
  .conteiner {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-family: "Urbanist", sans-serif;
}

p, a {
  font-family: "Inter", sans-serif;
}

.bar {
  padding: 15px 0;
  background: var(--buttons-active, #000);
}
.bar__text {
  color: var(--text-white, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bar__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .bar__br {
    display: none;
  }
}
.bar__link {
  color: var(--text-white, #fff);
  text-decoration: underline;
}

.nav {
  padding: 20px 0;
}
.nav__box {
  display: flex;
  align-items: center;
  position: relative;
}
.nav__img {
  width: 120px;
  height: 34px;
}
@media screen and (min-width: 768px) {
  .nav__img {
    margin-right: 50px;
  }
}
.nav__menu {
  background: none;
  border: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .nav__menu {
    display: none;
  }
}
.nav__burger {
  width: 24px;
  height: 24px;
}
.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    gap: 30px;
  }
}
.nav__btn {
  display: none;
  color: var(--text-white, #FFF);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  padding: 14px 20px;
  border: none;
  background: var(--buttons-pointing, #F27D08);
}
@media screen and (min-width: 768px) {
  .nav__btn {
    display: block;
    margin-left: auto;
  }
}
.nav__link {
  color: var(--text-main, #333);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mobile {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  background-color: white;
  transform: translateY(-100%);
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0;
  overflow: hidden;
}
.mobile__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile__list .mobile__item .mobile__link {
  text-decoration: none;
  color: var(--text-main, #333);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.mobile.is-hidden {
  transform: translateY(100px);
  opacity: 0;
  pointer-events: none;
}
.mobile:not(.is-hidden) {
  transform: translateY(140px);
  opacity: 1;
  pointer-events: auto;
}

.no-scroll {
  overflow: hidden;
}

.hero__box {
  background: url("../image/desktop/hero_destop.webp"), url("../image/desktop/repair.webp"), url("../image/desktop/one.webp");
  background-size: cover, cover, cover;
  background-position: center, center, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  border-radius: 20px;
  padding: 40px 50px 86px 20px;
}
.hero__title {
  color: var(--text-white, #fff);
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  width: 100%;
}
@media screen and (min-width: 420px) {
  .hero__title {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 661px;
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 707px;
    font-size: 60px;
  }
}
.hero__text {
  color: var(--text-white, #fff);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  margin-top: 10px;
}
@media screen and (min-width: 420px) {
  .hero__text {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    width: 661px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    width: 707px;
  }
}
.hero__btn {
  color: var(--text-white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 15px 30px;
  border-radius: 10px;
  margin-top: 30px;
  background: var(--buttons-pointing, #f27d08);
  border: none;
}

.services {
  padding-top: 50px;
}
.services__box {
  position: relative;
}
.services__title {
  color: #333333;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 350px) {
  .services__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 420px) {
  .services__title {
    font-size: 20px;
  }
}
.services__text {
  color: #7D7D7D;
  display: block;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 5px;
}
@media screen and (min-width: 350px) {
  .services__text {
    font-size: 12px;
  }
}
@media screen and (min-width: 420px) {
  .services__text {
    font-size: 14px;
  }
}
.services__left {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 30px;
}
@media screen and (min-width: 420px) {
  .services__left {
    width: 37px;
  }
}
@media screen and (min-width: 768px) {
  .services__left {
    display: none;
    width: 50px;
    left: 180px;
  }
}
.services__right {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 33px;
}
@media screen and (min-width: 420px) {
  .services__right {
    width: 37px;
  }
}
@media screen and (min-width: 768px) {
  .services__right {
    display: none;
    width: 50px;
    right: 180px;
  }
}
.services__dont {
  display: none;
}
@media screen and (min-width: 768px) {
  .services__dont {
    display: block;
  }
}
.services__wrap {
  border-radius: 20px;
  background: #F5A623;
  margin-top: 30px;
  padding: 20px;
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .services__list {
    gap: 50px;
  }
}
.services__flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .services__item:nth-child(odd) .services__flex {
    flex-direction: row-reverse;
  }
  .services__item:nth-child(even) .services__flex {
    flex-direction: row;
  }
}
.services__image {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  background: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .services__image {
    width: 648px;
  }
}
.services__heading {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 11px;
}
@media screen and (min-width: 768px) {
  .services__heading {
    width: 332px;
    font-size: 30px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .services__heading {
    font-size: 40px;
    width: 541px;
  }
}
.services__desc {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .services__desc {
    width: 332px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .services__desc {
    width: 517px;
  }
}
.services__secondary {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 11px;
  text-align: center;
  margin-top: 50px;
}
.services__description {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 10px;
  text-align: center;
}
.services__button {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 10px;
  background: #000000;
  padding: 15px 30px;
  border: none;
  margin-top: 30px;
}
@media screen and (min-width: 350px) {
  .services__button {
    font-size: 14px;
  }
}
@media screen and (min-width: 420px) {
  .services__button {
    font-size: 16px;
  }
}
.services__wraper {
  display: flex;
}
.services__one {
  margin-left: auto;
}
@media screen and (min-width: 350px) {
  .services__one {
    margin-left: 50px;
  }
}
@media screen and (min-width: 420px) {
  .services__one {
    margin-left: 70px;
  }
}
@media screen and (min-width: 768px) {
  .services__one {
    margin-left: auto;
    transform: rotate(340deg);
  }
}
.services__tuo {
  margin-left: auto;
}
.services__none {
  display: block;
}
@media screen and (min-width: 768px) {
  .services__none {
    display: none;
  }
}
.services__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .services__items {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.services__img {
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  background: var(--Sections-background, #fff);
}
@media screen and (min-width: 350px) {
  .services__img {
    width: 130px;
  }
}
@media screen and (min-width: 420px) {
  .services__img {
    width: 160px;
  }
}
@media screen and (min-width: 768px) {
  .services__img {
    width: 317px;
  }
}
@media screen and (min-width: 1200px) {
  .services__img {
    width: 295px;
  }
}/*# sourceMappingURL=main.css.map */